.hero {
    background:url(../img/tumblr_image.jpg) repeat fixed 100%;
    background-position:center;
    background-size:cover;
    
}

#editNavbar {
    margin-bottom: 0px;
    border-radius: 0px;
}

/*-- Start Parallax --*/
#wall1{
    background: url(../img/tumblr_image.jpg) repeat fixed 100%;
    background-position:center;
    background-size:cover;
    height: 500px;
}

/*-- End Parallax --*/